<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">AJEEA</h3>
				<ul class="mb2">
					<li><a href="/" class="link">Accueil</a></li>
					<li><a href="/valeurs" class="link">Nos valeurs</a></li>
					<li><a href="/projets" class="link">Nos projets</a></li>
					<li><a href="/post" class="link">Nos actions</a></li>
					<li><a href="/contact" class="link">Nous contacter</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Les réseaux sociaux</h3>
				<ul class="mb2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
