{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.title "subtitle" .Params.subtitle) }}

{{ with .Params.presentation }}
<div class="bg-off-white pt4">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
    {{ range .paragraphs }}
    <p>{{ .text }}</p>
    {{ end }}
  </div>

{{ end }}

{{ partial "4-up" .Params.objectifs }}

<div class="pb4">
    {{ range .Params.testimonials }}
      {{ partial "blockquote" . }}
    {{ end }}
</div>

<div class="ph3 mw7 center cms">
{{ .Content }}
</div>

<!-- Image grid -->
{{ partial "image-grid" (dict "image1" .Params.image1 "image2" .Params.image2 "image3" .Params.image3) }}


<!-- Full-width image -->
<!-- <img src="{{ .Params.full_image }}" alt="" class="db w-100"> -->

<!-- {{ partial "table" .Params.pricing }} -->
</div>

{{ end }}
