{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ range .Params.projets }}

{{ partial "text-and-image" (dict "heading" .heading "text" .text "buttonText" .buttonText "buttonLink" "/projets" "imageUrl" .imageUrl ) }}

{{ end }}

{{ if .Params.full_image }}
<div class="mw7 center ph3 pv4">
    <div class="w-100 ph1-ns">
        <img src="{{ .Params.full_image }}" alt="main page img">
    </div>
</div>
{{ end }}

{{ partial "blog" . }}

{{ end }}
